@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
box-sizing: border-box;
margin: 0;
padding: 0;
outline: none;
}

body{
margin: 0;
background: url(../src/img/home.jpeg) fixed;
background-position: center top;
background-size: cover;
background-color: black;
color: white;
}
li:hover{
color: white;
}
a
{
 color: orange;
 list-style: none;
text-decoration:none;
}