@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
*{
box-sizing: border-box;
margin: 0;
padding: 0;
outline: none;
}

body {
    margin: 0;
    background: url(../src/img/homeLandscape.jpeg);
    background-attachment: fixed;
    background-position: center ;
    background-size: cover;

  }
  
  @media screen and (max-width : 768px) {
    body{
    
        background: url(../src/img/home.jpeg);
        background-attachment: fixed;
        background-position: center ;
        background-size: cover;
    }
  }

a
{

 list-style: none;
text-decoration:none;
border-bottom: 1px solid transparent;
transition: border-bottom-color 0.3s ease; 
}

  
  
  
  a:hover {
    border-bottom-color: #ffffff; 
  }
  
li{
    font-family: "Fjalla One", sans-serif;

}
p, h2,h3,li{
color: #FFFFFF;
}