@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    margin: 0;
      padding: 0;
      background: url(../src/img/home.jpeg) fixed;
      background-position: center top;

   
    
      background-size: cover;
    
  background-color: black;
  
  
  color: white;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
